systemLog:
  destination: file
  path: /var/log/librechat/mongodb.log
  logAppend: true

storage:
  dbPath: /var/lib/librechat/mongo/data

net:
  bindIp: 127.0.0.1
  port: 27017

processManagement:
  fork: false
